.advantages
    .advantages__advantage
        .advantages__advantage-text
            .advantages__advantage-left-smallstrangecircle
            p.advantages__advantage-left-descr Только при помощи них возможно предоставить высокий уровень сервиса, который продлит срок службы вашей техники, а также избавит вас от неприятного запаха вашего кондиционера.
        img.advantages__advantage-img(src="./assets/img/content/vad1.webp" alt="")
    .advantages__advantage
        img.advantages__advantage-img(src="./assets/img/content/vad2.webp" alt="")
        .advantages__advantage-text
            .advantages__advantage-left-smallstrangecircle
            p.advantages__advantage-left-descr Никакие варианты с продувами компрессором не способны дать такой же результат как качественная промывка внутреннего блока с использованием щелочных моющих средств и промывкой водой под высоким давлением.
    .advantages__advantage
        .advantages__advantage-text
            .advantages__advantage-left-smallstrangecircle
            p.advantages__advantage-left-descr Максимум на что способна продувка – стереть поверхностную пыль, которая осядет по всей комнате и вашей дыхательной системе. Я же предлагаю полную, влажную очистку с разборкой вашей сплит-системы.
        img.advantages__advantage-img(src="./assets/img/content/vad3.webp" alt="")
