.before_after
    p.before_after__title
        | На фотографиях ниже вы можете посмотреть - какими сплит-системы были до и какими они стали после моей работы
    .before_after__images
        .before_after__images-pict
            a.before_after__images-left-before1(href="./assets/img/content/ba1b.webp")
                img(src="./assets/img/content/ba1.webp" alt="")
            a.before_after__images-left-after1(href="./assets/img/content/ba1a.webp")
                img(src="./assets/img/content/ba1a.webp" alt="")
        .before_after__images-pict
            a.before_after__images-left-before2(href="./assets/img/content/ba2b.webp")
                img(src="./assets/img/content/ba2b.webp" alt="")
            a.before_after__images-left-after2(href="./assets/img/content/ba2a.webp")
                img(src="./assets/img/content/ba2a.webp" alt="")
