.condensatbottom
    .condensatbottom__flex
        img.condensatbottom__img(src="./assets/img/conditioner.webp" alt="")
        p.condensatbottom__content
            | Конденсат, находящийся во внутреннем блоке - отличная среда для размножения грибка. Только представьте, чем дышите вы и ваши дети, если регулярно не обслуживаете кондиционер.
