- const faqs = [{que: "Как часто нужно обслуживать сплит-системы?", answ: "Минимум раз в год. Желательно весной или в начале лета. А еще лучше, если вы проведете повторное обслуживание еще и после окончания летнего сезона. Это значительно увеличит срок службы вашего аппарата. А если вы используете кондиционер и для обогрева, обслуживать его нужно чаще: 2 раза в год!"}, {que: "Что будет, если долгое время не обслуживать сплит-систему?", answ: "nothing"}, {que: "Что такое озонирование?", answ: "nothing"}, {que: "Как происходит обслуживание?", answ: "nothing"}]

.faq
    h3.faq__title Часто задаваемые вопросы
    each faq in faqs
        .faq__question
            .faq__question-title
                h3.faq__question-title-descr= faq.que
                .faq__question-title-plus &#215;
            p.faq__question-answer= faq.answ
