section.greeting
    .greeting__inner
        .greeting__img
        .greeting__intro
            .greeting__intro-hand.--svg__hand
            p.greeting__intro-title Меня зовут * и я
            p.greeting__intro-subtitle — частный мастер по чистке и <span>обслуживанию сплит-систем</span>
