- const jobs = [{title: "АНТИБАКТЕРИАЛЬНАЯ ЧИСТКА СПЛИТ-СИСТЕМ", descr: "Обработка щелочной антибактериальной химией.  Затем - промывка испарителя. Будут уничтожены даже намеки на плесень "}, {title: "Ремонт", descr: "Диагностика и ремонт бытовых кондиционеров в случаях если неисправна электроника или автоматика, не происходит запуск компрессора или вентиляторов.  "}, {title: "Обработка", descr: "Заправка и дозаправка кондиционеров фреоном, проверка эффективности охлаждения до и после."}, {title: "Озонирование", descr: "Бактерицидная обработка комнаты после промывки внутреннего блока кондиционера."}]

section.jobs
    .jobs__grid
        each job in jobs
            .jobs__item
                .jobs__blueline
                p.jobs__title= job.title
                p.jobs__descr= job.descr
    button.jobs__btn Оставить заявку
