.warning
    h3.warning__title
        | Профессиональнальное оборудование
    .warning__filter
        .warning__filter-text
            | Ни для кого не секрет, что система кондиционирования является прекрасным “транспортом” для респираторных заболеваний.  “Но внутри сплит-системы установлен фильтр!” - можете возразить вы. Да, он там установлен, вы правы. Но это - фильтр грубой очистки, задерживающий крупные фракции в воздухе, например шерсть, пух и крупную пыль.
        .warning__filter-img
            img(src="./assets/img/content/filter.webp" alt="")
    .warning__air
        .warning__air-container
            .warning__air-content
                img.warning__air-img(src="./assets/img/air1.webp" alt='')
                p.warning__air-content-text
                    | И в условиях благоприятной влажной среды (то есть в условиях, когда вы не обслуживаете кондиционер), все это вырождается в целую экосистему. Живет, цветет и в прямом смысле слова - пахнет.
            .warning__air-content
                img.warning__air-img(src="./assets/img/air2.webp" alt='')
                p.warning__air-content-text
                    | Вирусы, бактерии, грибки и вредоносные частицы он не задерживает. Вся эта братия, вместе с мелкой пылью, оседает в дренажной ванночке, испарителе и корпусе внутреннего блока.
