.condensatbottom {
        width: 100%;
        background-image: url("./assets/img/condensatbottom-bg.webp");
        background-position: center center;
        background-size: cover;

  &__flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    margin-bottom: 50px;

    @include media-tablet {
        padding: 80px 20px;
        margin-bottom: 100px;
    }
  }

  &__img {
      margin-bottom: 15px;
  }

  &__content {
      max-width: 1087px;
      color: var(--color-white);
      font-size: 14px;
      text-align: center;

      @include media-tablet {
          font-size: 24px;
      }
  }
}
