.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    @include container;

    @include media-tablet {
        padding: 10px 20px;
        justify-content: space-between;
    }

    &__right {
        display: flex;
    }

    &__tel {
        margin-left: 30px;
    }

    & > .navbar-logo {
        display: none;

        @include media-tablet {
            display: block;
        }
    }
}
