.myjob {
    @include container;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;

    @include media-tablet {
        margin-bottom: 101px;
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 28px;

        &-title {
            font-weight: 500;
            font-size: 24px;
            margin-right: 20px;

            @include media-tablet {
                font-size: 35px;
            }
        }

        @include media-tablet {
            margin-bottom: 56px;
        }

        &-insta {
            display: inline-block;
            display: flex;
            align-items: center;
            font-size: 14px;
            text-decoration: underline;
            color: inherit;
            position: relative;
            padding-left: 45px;

            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 25px;
                height: 25px;
                @include bg;
            }

            @include media-tablet {
                font-size: 18px;
            }

            &:hover {
                text-decoration: none;
            }
        }
    }
}

.slick {
    min-width: 0;

    &-track {
        display: flex;
        align-items: flex-start;
    }
}

.myjob__slider {
    position: relative;

    &-img {
        margin-right: 10px;
        opacity: 0.2;

        &.slick-active {
            opacity: 0.5;
        }

        &.slick-active.slick-center {
            opacity: 1;
        }

        @include media-tablet {
            margin-right: 20px;
        }
    }

    .slick-arrow {
        position: absolute;
        top: 50%;
        z-index: 2;
        font-size: 0;
        width: 75px;
        height: 75px;
        border: none;
        outline: none;
        margin: -30px 0 0 0;

        &.slick-prev {
            left: 0;
            background: url("./assets/img/slick-arrow-left.png") 0 0 / 100% no-repeat;
        }
        &.slick-next {
            right: 0;
            background: url("./assets/img/slick-arrow-right.png") 0 0 / 100% no-repeat;
        }
    }
}
