.price {
    @include container;
    margin-bottom: 40px;

    @include media-tablet {
      margin-bottom: 80px;
  }

  &__title {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 24px;

    @include media-tablet {
      font-size: 35px;
      margin-bottom: 48px;
    }
  }

  &__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;

    @include media-custom(900px) {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
    }
  }

  &__card {
    background-repeat: no-repeat;
    max-width: 464px;
    min-width: 300px;
    min-height: 291px;
    padding: 43px 53px;
    margin-right: 20px;
    margin-bottom: 20px;
    flex-shrink: 0;

    @include media-tablet {
      margin-right: 40px;
      margin-bottom: 40px;
    }

    &-name {
      color: var(--color-white);
      max-width: 280px;
      margin-bottom: 40px;
      font-weight: 500;
      font-size: 25px;
      line-height: 130%;
    }

    &-number {
      color: var(--color-red);
      font-weight: 700;
      font-size: 35px;
      line-height: 130%;
    }
  }
}
